<div class="login-shape">
    <a href="/login">
        <div class="back">
            <img src="/assets/imgs/arrow.png" alt="стрелка" class="arrow">
            <p class="courier_new_bold backP">Назад</p>
        </div>
    </a>
    <h1 class="courier_new_bold">EventFinder</h1>
    <h2 class="courier_new_bold">Восстановление пароля</h2>
    <form action="" class="login-forms" [formGroup]="form" >
        <label class="form-label">
            Электронная почта
            <input formControlName="email" type="text" class="input-form" placeholder="name@gmail.com">
        </label>
    </form>
    <div class="buttons">
        <button class="btn-style2 courier_new_normal" type="submit" (click)="onSubmit($event)">Восстановить</button>
    </div>
</div>