<div class="card">
    <div class="imageBlock">
        <img [src]="news.imageUrl" [alt]="news.title">
    </div>
    <div class="newsText">
        <h1>{{news.title}}</h1>
        <h2><strong>Дата: </strong>{{news.date}}</h2>
        <p>{{news.text}}</p>
    </div>
    <div class="buttons">
        <button class="btn-style2 courier_new_normal" (click)="confirmNews(news.id)">Одобрить</button>
        <button class="btn-style2 courier_new_normal" (click)="cancelNews(news.id)">Отклонить</button>
    </div>
</div>