<footer>    
    <div class="wrapper">
        <div class="first_line">
            <div class="contacts">
                <p class="courier_new_normal"><b>Контакты: </b>skif&#64;skif.com</p>
                <p class="courier_new_normal">Телефон: +375 (29) 123-45-67</p>
                <div class="social_links">
                    <a href=""><img src="/assets/imgs/facebook.png" alt="facebook icon" class="socialIcon"></a>
                    <a href=""><img src="/assets/imgs/twitter.png" alt="facebook icon" class="socialIcon"></a>
                    <a href=""><img src="/assets/imgs/instagram.png" alt="facebook icon" class="socialIcon"></a>
                </div>
            </div>
            <div class="buttonCombitOrg">
                <a href="/reg"><button class="btn-style2 courier_new_bold">Стать организатором</button></a>
            </div>
        </div>
        <div class="legal-details">
            <p class="courier_new_normal">©2025 EventFinder. Все права защищены.</p>
            <p class="courier_new_normal">Политика конфиденциальности | Пользовательское соглашение.</p>

        </div>
    </div>
</footer>